@import '../../styles/settings.scss';

.favorite {
  padding: $base-size;
}

.title {
  padding: ($base-size * 3) 0;
  text-align: center;
  font-size: ($base-size * 3);
  text-transform: uppercase;
}

.subtitle {
  padding: ($base-size * 2) 0;
  font-size: ($base-size * 2);
}

.title + .subtitle {
  margin-top: (- $base-size * 3);
}