@import '../../styles/settings.scss';

.nav {
	background-color: darken($color-dark, 3%);
}

.navbar {
  display: flex;
	justify-content: space-between;
	padding: $base-size;
}

.toggler_icon {
  font-size: 30px;
	margin-top: $base-size;
}

i {
  font-size: 24px;
	color: $color-light;
}

.navbar_links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
}

li a {
	color: $color-light;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	padding: $base-size;
}